<div class="container">
  <h1 class="titulo">Mis Proyectos</h1>
  <p class="presentacion">Aquí puedes encontrar información sobre algunos de los proyectos en los que he trabajado.</p>

  <section class="seccion">
    <h2 class="titulo-seccion">Proyecto LEA</h2>
    <div class="contenido">
      <p>Proyecto LEA es una página web de venta de claves de videojuegos que estamos desarrollando como parte de un trabajo de clase. Esta se está haciendo con HTML, CSS, JavaScript/TypeScript y con una base de datos NOSQL (Firebase).</p>
      <a href="https://github.com/ecerrato02/Proyecto-Angular_Cerrato_Nievas" class="enlace-github" target="_blank">Repositorio en GitHub</a>
    </div>
  </section>

  <section class="seccion">
    <h2 class="titulo-seccion">Portafolio Digital</h2>
    <div class="contenido">
      <p>Portafolio Digital es un proyecto que realicé durante mi segundo año de SMR. Contiene y explica todos los proyectos realizados durante el curso, y fue desarrollado únicamente con HTML y CSS.</p>
      <a href="https://eduni11.github.io/Portafolio-Digital/index.html" class="enlace-github" target="_blank">Web Portafolio Digital</a>
    </div>
  </section>
</div>
