<div class="generalDiv">
  <div id="leftSide">
    <img alt="Foto Edu" id="eduPhoto" src="./assets/foto-edu.png">
    <h2 id="rol">PROGRAMADOR</h2>
    <div class="points"></div>
    <div id="contact">
      <h3 class="titles">CONTACTO</h3>
      <div class="info">
        <p class="contact-details"><span id="phone-number">&#9742;</span> 631 977 154</p>
        <p class="contact-details"><span id="email">&#9993;</span> edunievasdris&#64;gmail.com</p>
        <p class="contact-details"><span id="address">🏠</span> Calle Marina 12, 2º 2ª, Llagostera, Girona</p>
      </div>
    </div>
    <div class="points"></div>
    <div id="tools">
      <h3 class="titles">HERRAMIENTAS</h3>
      <div class="info">
        <ul>
          <li>Angular (HTML, CSS, JavaScript/TypeScript).</li>
          <li>Java.</li>
          <li>Consultas en SQL.</li>
          <li>Docker.</li>
          <li>ERP (Odoo).</li>
          <li>JSON.</li>
          <li>xPath.</li>
          <li>xQuery.</li>
          <li>Firebase.</li>
          <li>Edición de Imagen/Video.</li>
        </ul>
      </div>
    </div>
    <div id="point-final"></div>
    <div id="lenguages">
      <div class="titles">
        <h3>IDIOMAS</h3>
      </div>
      <div class="info">
        <ol>
          <li><span>Catalán.</span></li>
          <li><span>Castellano.</span></li>
          <li><span>Inglés.</span></li>
        </ol>
      </div>
    </div>
  </div>
  <div id="nombre">
    <h1>Edu Nievas Dris</h1>
    <div id="nameUnderline"></div>
  </div>
  <div id="adicional-info">
    <p>Me llamo Edu Nievas, tengo veinte años y busco oportunidades laborales en mi área de estudio para crecer personal y profesionalmente. Estoy dispuesto a aprender nuevos lenguajes de programación y habilidades necesarias en el campo informático. Mi objetivo es contribuir de manera efectiva al éxito de cualquier proyecto o empresa donde pueda aplicar mis conocimientos y adquirir nuevos en caso necesario.</p>
  </div>
  <div id="experience">
    <div id="title-experience">
      <div class="points"></div>
      <div class="line"></div>
      <h2 id="title">Experiencia</h2>
    </div>
    <div class="info-experience">
      <h5>Mercadona S.A. - Cassà de la Selva</h5>
      <p>Mayo 2022 - Trabajando actualmente</p>
      <ul>
        <li>Cajero.</li>
        <li>Reponedor.</li>
      </ul>
    </div>
    <div class="info-experience">
      <h5>FCT - Informática Llagostera</h5>
      <p>Diciembre 2022 - Junio 2023</p>
      <ul>
        <li>Administración y creación de páginas web en Wordpress.</li>
        <li>Montaje, mantenimiento y reparación de equipos informáticos.</li>
        <li>Elaboración de documentación.</li>
        <li>Administración de red local.</li>
        <li>Atención en tienda.</li>
      </ul>
    </div>
  </div>
  <div id="formation">
    <div id="title-formation">
      <div class="points"></div>
      <div class="line2"></div>
      <h2 id="title">Formación</h2>
    </div>
    <div class="info-formation">
      <h5>ESO - Institut de Llagostera</h5>
      <p>Septiembre 2016 - Junio 2020</p>
    </div>
    <div class="info-formation">
      <h5>CFGM SMR (Sistemas Microinformáticos y Redes) - Institut Salvador Espriu</h5>
      <p>Septiembre 2021 - Junio 2023</p>
    </div>
    <div class="info-formation">
      <h5>CFGS DAM (Desarrollo de Aplicaciones Multiplataforma) - Institut Vidreres</h5>
      <p>Septiembre 2023 - Cursando actualmente</p>
    </div>
  </div>
  <div id="additional-information">
    <div id="title-additionalInformation">
      <div class="points"></div>
      <div class="line3"></div>
      <h2 id="title">Información Adicional</h2>
    </div>
    <div class="info-additionalInformation">
      <h5>- Carnet de conducir.</h5>
      <p>Actualmente estoy en proceso de obtención del carnet de conducir para una mayor disponibilidad y movilidad.</p>
      <h5>- Proactivo.</h5>
      <p>Me considero una persona proactiva, es decir me gusta tener responsabilidad en la búsqueda de posibles soluciones a los problemas.</p>
      <h5>- Trabajo en equipo.</h5>
      <p>Me considero una persona que sabe trabajar en equipo.</p>
    </div>
  </div>
</div>
