<div class="container">
  <h1 class="titulo">¡Hola, soy Edu Nievas!</h1>
  <p class="presentacion">Un apasionado de la tecnología con un enfoque en el desarrollo de software.</p>

  <section class="seccion">
    <h2 class="titulo-seccion">Proyectos Personales</h2>
    <div class="contenido">
      <p>He tenido el privilegio de colaborar en diversos proyectos con un grupo de amigos igualmente apasionados por la tecnología. Desde la creación y gestión de servidores de videojuegos hasta la resolución de desafiantes problemas técnicos, hemos trabajado juntos para aprender, crecer y alcanzar nuestros objetivos.</p>
      <ul>
        <li>Solucionar problemas y realizar modificaciones en varios lenguajes de programación.</li>
        <li>Mitigar ataques de Denegación de Servicio (DDoS) para garantizar la estabilidad de los servidores.</li>
        <li>Manipulación de bases de datos para optimizar el rendimiento y la seguridad.</li>
        <li>Brindar soporte técnico y solucionar problemas para mejorar la experiencia del usuario.</li>
      </ul>
    </div>
  </section>

  <section class="seccion">
    <h2 class="titulo-seccion">Experiencia Futura</h2>
    <div class="contenido">
      <p>Estoy emocionado por la oportunidad de aplicar mis habilidades y conocimientos en un entorno profesional. Mi objetivo es contribuir al éxito de su empresa mientras continúo aprendiendo y creciendo como profesional de la tecnología.</p>
    </div>
  </section>
</div>
